.container.container-form
  = form_for @company, url: create_login_path, html:{class: 'custom-form'} do |f|
    fieldset
      legend Login
      - if params[:email].present? || params[:password].present?
        p.text-warning Email or password was error.
      .form-group
        = f.label :email
        = f.text_field :email,class: 'form-control', name: 'email'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control', name: 'password'
      .form-group.clearfix
        = f.submit "Login", class: 'btn btn-default pull-left'
        = link_to "Register", register_path, class: 'btn btn-success pull-right'
