.container
  = link_to "Logout", logout_path
  = form_for @info, url: company_info_path(params.slice(:flag)), html:{class: 'custom-form info-form'} do |f|
    fieldset
      - unless @info.new_record?
        h4 class="#{@info.successful? ? "text-success" : "text-danger"}"
          | Check Status:&nbsp;
          = @info.check_status
      = render "info_form", f: f, info: @info, default_field_options: {disabled: !can_edit?}
