.container.container-form
  = semantic_form_for @company, url: register_path, html:{class: 'custom-form small-form'} do |f|
    fieldset
      legend
        | Start a business account
        = link_to "Login", login_path, class: 'btn btn-success pull-right'
      - if params[:company].present? && params[:agreecheck].blank?
        p.text-danger Please read and accepted the User Agreement.
      = render_error_messages @company
      .form-group
        = f.label :name, "Company name"
        = f.text_field :name,class: 'form-control'
      .form-group
        = f.label :email
        = f.text_field :email,class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, class: 'form-control', require: true
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control', require: true
      .checkbox
        label
          input type='checkbox' name='agreecheck'
          | I have read and accepted the User Agreement.
      div style="height: 200px;overflow:auto;border:1px solid #ddd;padding: 3px;margin-bottom: 10px"
        = render_agreement_text
      .form-group.clearfix
        = f.submit "Submit", class: 'btn btn-default'
