.status-form.clearfix
  .stauts-title
    | Check Status: 
    span#check-status-name
      = info.status
  = form_for info, url: fresh_admin_company_info_path(resource, params.slice(:flag)), html: {class: 'form-inline'} do |f|
    .form-group.status-check-boxes
      - CompanyInfo::STATUSES.each_with_index do |status, index|
        - checked_index = CompanyInfo::STATUSES.index(info.status) 
        label style='margin-right: 10px' class="#{checked_index >= index ? 'checked' : 'unchecked'}" data-index=index
          - if checked_index >= index
            = check_box_tag :status, status, true, disabled: true, class: 'checked', onclick: 'alert(234)', data:{index: index}
          - elsif checked_index + 1 == index
            = check_box_tag :status, status,nil, onclick: 'ActiveAdmin.status_check(this);', data:{index: index}
          - else
            = check_box_tag :status, status, false, disabled: true, class: 'unactive', data:{index: index}
          | &nbsp;
          = status
      /= f.select 'status', CompanyInfo::STATUSES,{}, class: 'form-control'
    /= f.submit "Change", class: 'btn btn-success'
  = link_to "Send Email", "mailto:#{info.email}", class: 'btn btn-success mailto'

= form_for info, url: fresh_admin_company_info_path(resource, params.slice(:flag)), html:{class: 'custom-form'} do |f|
  = render "company/info_form", f: f, info: info, default_field_options: {disabled: params[:flag] != 'edit'}
