@import "bootstrap-sprockets"
@import "bootstrap"
.container
  // text-align: center
  &.container-form
    padding-top: 8%
.custom-form
  border: 1px solid #e1e1e8
  padding: 10px
  margin-bottom: 30px
.info-form
  margin-top: 30px
.custom-input-div
  padding-left: 15px
  input[type='text']
    width: 20%
    height: 34px
    padding: 6px 12px
    font-size: 14px
    line-height: 1.42857143
    color: #555555
    background-color: #fff
    background-image: none
    border: 1px solid #ccc
    border-radius: 4px
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
addr.required
  color: red
  padding-right: 5px
.field_with_errors
  input, select, radio, textarea
    border: 1px solid red !important
  input[type=radio]
    -webkit-appearance: none
    border-radius: 50%
    width: 15px
    height: 15px
  input[type=radio]:checked
    background: red

.row.custom-input-div .field_with_errors
  display: inline
