// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
@import "form";
label.label{
  color: #000;
}
.custom-form input.form-control[type=text]{
  width: 100%;
}
.status-form{
  form{
    float: left;
    margin: 0 40px;
}
.stauts-title{
  font-size: 20px;
  float: left;
}
padding-bottom: 10px;
}
.status-check-boxes{
  .checked{
    color: red;
}
.unchecked{
  color: green;
}
}
